<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='img/logo/easynba.ico') }}" type="image/x-icon">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" as="style" onload="this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    </noscript>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/utils.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/table.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/player_container.css') }}" />
    
    {% if request.endpoint == 'compare' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/compare.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/modal.css') }}" />
        <script src="{{ url_for('static', filename='js/stats.js') }}"></script>
        <script src="{{ url_for('static', filename='js/delete.js') }}"></script>
        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    {% elif request.endpoint == 'visualize' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/visualize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/modal.css') }}" />
        <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    {% endif %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.4/lottie.min.js"></script>
    <script src="{{ url_for('static', filename='js/lottie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/awards.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delete.js') }}"></script>
    <title>Easy NBA</title>
</head>
<body>
    <div id="lottie"></div> <!-- Background Lottie Animation -->
    <div class="body">
        <header>
            <div class="title">
                <img src="{{ url_for('static', filename='img/logo/Easy-NBA-alt4.png') }}" width=auto height=40px alt="Easy NBA" />
            </div>
            <nav>
                <a href="{{ url_for('home')}}">Home</a>
                <a href="{{ url_for('compare')}}">Compare</a>
                <a href="{{ url_for('visualize')}}">Visualize</a>
            </nav>
        </header>

        <main class="gradient">
            <!-- this is where content will go -->
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>Currently in Development - Made by Zohair Syed</p>
            <a href="https://github.com/zsspan" target="_blank">
                <img src="{{ url_for('static', filename='img/github.svg') }}" width="auto" height="22" />
            </a>
        </footer>
    </div>
</body>
</html>
