{% extends "template.html" %}

{% block content %}
    <div class="content center">
        <h1>NBA Data Visualization!</h1>
        <p class="intro">
            Enter a player to receive various graphs/plots depicting their statistics,
            evaluating their skillset and other visualisations to captivize your mind!
            <br />            
        </p>
        <form action="/" method="post">
            <input type="text" placeholder="Enter player" name="player" required />
            <button type="submit">Search</button>
        </form>

        {% if player1_info and player2_info %}
        <div class="player-container boxify">
            <div class="heading">{{ player1_info["player_name"] }}⠀vs⠀{{ player2_info["player_name"] }}</div>
            <div class="sides">
                <div class="compare-box">
                    <div class="frame">
                        <img src="{{ player1_info['img_link'] }}" alt="NBA Player" />
                        <div class="info">
                            <b>{{ player1_info["player_name"] }}</b>
                            <p><b>POS: </b>{{ player1_info["position"] | join(', ') }}</p>
                            <p class="max-width">
                                <b>Primary Teams: <br /></b>{{ player1_info["teams"] | join(', ') }}
                            </p>
                        </div>
                    </div>
                    <div class="extra info">
                        {% for award, value in player1_info["priority_awards"].items() %}
                        <p><strong>{{ award }}:</strong> {{ value }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="compare-box">
                    <div class="frame">
                        <img src="{{ player2_info['img_link'] }}" alt="NBA Player" />
                        <div class="info">
                            <b>{{ player2_info["player_name"] }}</b>
                            <p><b>POS: </b>{{ player2_info["position"] | join(', ') }}</p>
                            <p class="max-width">
                                <b>Primary Teams: <br /></b>{{ player2_info["teams"] | join(', ') }}
                            </p>
                        </div>
                    </div>
                    <div class="extra info">
                        {% for award, value in player2_info["priority_awards"].items() %}
                        <p><strong>{{ award }}:</strong> {{ value }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="player-container boxify">
            <div class="heading">Stat Comparison</div>
            <!-- dynamic graph rendering done below -->
            <div class="bar-container stat-bar" id="bar-container"
                data-player1-stats='{{ player1_stats | tojson }}'
                data-player1-name="{{ player1_info['player_name'] }}"
                data-player2-stats='{{ player2_stats | tojson }}'
                data-player2-name="{{ player2_info['player_name'] }}">
            </div>
        </div>

        <div class="stats-head">
            <h2>Career Stats Comparison</h2>
        </div>

        <h3>{{ player1_info['player_name'] }}</h3>
        <div class="scroll center">{{ df1 | safe }}</div>
        <h3>{{ player2_info['player_name'] }}</h3>
        <div class="scroll center">{{ df2 | safe }}</div>

        {% else %}
        <p>One or both players not found, please try again.</p>
        {% endif %}
    </div>
{% endblock %}
