@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
}

.body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    min-height: 100vh;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header, footer {
    background-color: #45aeda;
    color: white;
    padding: 1em;
    font-family: Poppins;
    font-weight: bold;
    z-index: 2;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2em;
    width: 100%;
    box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    margin-left: 3em;
}

.navlist {
    display: flex;
    column-gap: 2em;
    color: white;
    list-style-type: none;
    margin-right: 6em;
}

.navlist li a {
    color: white;
    text-decoration: none;
}

footer {
    height: 2em;
    display: flex;
    align-items: center;
}

footer p {
    margin-left: 3em;
}

main {
    padding: 2em 0;
    margin-top: 3em;
    background-color: #f2f2f2;
    flex: auto;
}

/* 
.gradients {
    background: linear-gradient(45deg, #90c1d6, #432062, #90c1d6);
    background-size: 400% 400%;

    animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

#lottie {
    position: fixed;
    z-index: 0;
    width: 5000px;
    top: 0;
    left: 0;
}


.content {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 3em;
    margin: 0.9em 0 0 0;
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    color:#133f79;
}

h3{
    color: #133f79;
    font-family: Poppins;
    font-weight: bold;
}

.intro{
    padding: 0 4em;
    max-width: 900px;
}

.content p {
    text-align: center;
    font-family: Poppins;
}

.scroll {
    overflow-x: auto;
    width: 100%;
}

.last {
    margin-bottom: 5em;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stats-head {
    text-align: center;
    background-color: white;
    width: 60%;
    margin: 2em;
    border-radius: 1.5em;
    font-family: Poppins;
    font-weight: bold;
    color: #133f79;
}